@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.culinary-delight .container {
  display: grid;
  width: 90%;
  max-width: 90%;
  height: 100%;
  place-items: center;
  text-align: center;
  background-color: #f2f2f2;
}
.slider {
  /* width: 100%; */
  max-width: 1150px;
  min-width: 1100px;
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow: hidden; */
  margin-top: 10px;
}
.slider .card {
  display: block;
  /* flex: 1; */
  margin: 10px auto;
  width: 100%;
  /* max-width: 300px; */
  max-width: 330px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  /* height: max-content; */
  /* height: min-content; */
  height: fit-content;
}
.slider .card:hover {
  box-shadow: 0px -3px 2px rgba(255, 255, 255, 0.5);
  transform: scale(0.98);
}
.slider .card .img {
  height: 200px;
  width: 100%;
}
.slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content {
  padding: 10px 20px;
  display: block;
}
.card .content .title {
  font-weight: 600;
  font-size: 25px;
}
.card .content .sub-title {
  font-weight: 600;
  font-size: 20px;
  color: #e74c3c;
  line-height: 20px;
}
.card .content .p {
  text-align: justify;
  margin: 5px 0;
  position: relative;
  position: relative;
}
.card .content .btn {
  display: inline-block;
  /* display: block; */
  line-height: 3px;
  font-size: 1.5rem;
  padding: 10px;
  font-weight: 700;
}
.card .content .btn button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover {
  transform: scale(0.9);
}
.comment-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
.comment-area > button:hover {
  background-color: #2196f3;
  color: whitesmoke;
}
.comment-area > button:active i.fa {
  transform: scale(1.2);
}
.comment-box {
  /* background-color: #f2f2f2; */
  border-radius: 5px;
}
.comment-box .row {
  background-color: #f2f2f2;
}
.div-image > img {
  width: 40px;
  height: 50px;
}
@media (max-width: 500px) {
  .slider .card:hover {
    box-shadow: 0px -2px 2px rgba(255, 255, 255, 0.5);
    transform: scale(0.98);
  }
}
@media (min-width: 500px) {
  .div-image > img {
    width: 40px;
    height: 70px;
  }
}
