:root{
    --primary-blue: #0c4af5;
    --primary-erd: #f50c0c;
    --primary-white: #eee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header, nav{
    height: 10vh;
    background: var(--primary-white);
}
.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    /* background: lightcoral; */
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.landing{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing h1{
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
}

@media screen and (max-width: 900px){
    .line{
        width: 30px;
        height: 3px;
        background: var(--primary-blue);
        margin: 5px;
    }
    nav{
        position: relative;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        background: var(--primary-white);
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links{
        position: fixed;
        background: var(--primary-blue);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        /* display: none; */
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -20%);
        -moz-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -20%);
        -moz-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .landing{
        flex-direction: column;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li a{
        font-size: 25px;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    li.fade{
        opacity: 1;
    }
}