* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100%;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
body {
  display: grid;
  background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
  place-items: center;
}
#chat-container {
  margin-top: 75px;
  /* margin-bottom: 20px; */
  display: grid;
  grid:
    "search-container chat-title" 71px
    "conversation-list chat-message-list" 1fr
    "new-message-container chat-form" 78px
    / 275px 1fr;
  min-width: 800px;
  max-width: 1000px;
  width: 100%;
  min-height: 90vh;
  height: 90vh;
  background: #fff;
  border-radius: 10px;
}
#search-container,
#conversation-list,
#new-message-container {
  background: #0048aa;
}
#search-container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  grid-area: search-container;
  border-radius: 10px 0 0 0;
  /* box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75); */
  z-index: 1;
}
#search-container input {
  color: #eee;
  outline: none;
  font-weight: bold;
  border-radius: 2px;
  height: 30px;
  border: 0;
  margin-top: 20px;
  padding-left: 48px;
  padding-right: 20px;
  font-size: 1.4rem;
  background: url("../images/search.svg") no-repeat rgba(255, 255, 255, 0.3);
  background-position: 15px center;
  background-size: 20px 20px;
  /* box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75); */
}
#search-container input::placeholder {
  color: #ddd;
  font-weight: bold;
}
#conversation-list {
  grid-area: conversation-list;
  overflow-y: scroll;
}
.conversation {
  display: grid;
  grid-template-columns: 40px 1fr max-content;
  grid-gap: 10px;
  color: #ddd;
  font-size: 1.3rem;
  border-bottom: 1px solid #002c88;
  padding: 20px 20px 20px 15px;
}
.conversation.active,
.conversation:hover {
  background-color: #002c88;
}
.conversation:hover {
  cursor: pointer;
}
.conversation > img {
  grid-row: span 2;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.title-text {
  font-weight: bold;
  color: #eee;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.created-date {
  color: #ddd;
  font-size: 1rem;
}
.conversation-message {
  grid-row: span 2;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
#new-message-container {
  display: grid;
  grid: 40px / 40px;
  align-content: center;
  grid-area: new-message-container;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0 0 0 10px;
  padding: 0 15px;
}
#new-message-container a {
  display: grid;
  place-content: center center;
  background: #eee;
  border-radius: 100%;
  color: #002c88;
  text-decoration: none;
  font-size: 3.6rem;
}
#chat-title,
#chat-form {
  background: #eee;
}
#chat-title {
  display: grid;
  grid: 36px / 1fr 36px;
  align-content: center;
  align-items: center;
  grid-area: chat-title;
  color: #0048aa;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 0 10px 0 0;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
  padding: 0 20px;
}
#chat-title > img,
#chat-title i {
  cursor: pointer;
}
#chat-message-list {
  grid-area: chat-message-list;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
  overflow-y: scroll;
}
.message-row {
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 20px;
}
.message-content {
  display: grid;
}
.you-message {
  justify-content: end;
}
.you-message .message-content {
  justify-items: end;
}
.other-message {
  justify-items: start;
}
.other-message .message-content {
  grid-template-columns: 80px 1fr;
  grid-column-gap: 15px;
}
.message-row img {
  border-radius: 100%;
  grid-row: span 2;
}
.message-text {
  padding: 9px 14px;
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.message-time {
  font-size: 1.3rem;
  color: #777;
}
.you-message .message-text {
  background-color: #0048aa;
  color: #eee;
  border: 1px solid #0048aa;
  border-radius: 14px 14px 0 14px;
}
.other-message .message-text {
  background-color: #eee;
  color: #111;
  border: 1px solid #eee;
  border-radius: 14px 14px 14px 0;
}
#chat-form {
  display: grid;
  grid: (51px / 32px 1fr);
  grid-template-columns: 12fr 1fr;
  align-content: center;
  align-items: center;
  grid-gap: 15px;
  grid-area: chat-form;
  border-radius: 0 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-left: 42px;
  padding-right: 22px;
}
#chat-form input {
  outline: none;
  padding: 15px;
  border: 2px solid #ddd;
  color: #330;
  border-radius: 6px;
  font-size: 1.4rem;
}
#chat-form button {
  border: none;
  outline: none;
  background: transparent;
}
#chat-form button:hover i {
  filter: brightness(80%);
}
#chat-form i {
  color: #0048aa;
  cursor: pointer;
}
/* ###################################### */
#search-container .autocom-box {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  font-size: 1.2rem;
  position: relative;
  top: 70px;
  right: 0;
  padding: 0;
  max-height: 280px;
  margin-top: 40px;
  overflow-y: auto;
  /* hidding the search box */
  opacity: 0;
  pointer-events: none;
}
#search-container.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
#search-container {
  position: relative;
  /* box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.5); */
}
#search-container i {
  height: 20px;
  width: 20px;
  color: whitesmoke;
  max-width: 20px;
  min-width: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px 10px 5px;
  text-align: center;
  cursor: pointer;
}
.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.autocom-box li:hover {
  background: #efefef;
  font-weight: 600;
}
.fa-users {
  display: none;
}
/* ###################################### */
::-webkit-scrollbar {
  display: none;
}
@media (max-width: 900px) {
  .main-header-title .logo img {
    max-width: 70px;
    width: 60px;
    min-width: 50px;
  }
  #chat-container {
    display: grid;
    grid:
      "search-container chat-title" 70px
      "conversation-list chat-message-list" 1fr
      "new-message-container chat-form" 70px
      / 275px 1fr;
    grid-template-columns: 1fr 1fr;
    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;
    min-height: 90vh;
    height: 90vh;
    position: relative;
  }
  #search-container {
    position: relative;
    width: 50vw;
    /* display: none; */
    z-index: 1;
  }
  #search-container input {
    position: relative;
    width: 70%;
    height: 35px;
    margin-top: 20px;
    padding-left: 8px;
    padding-right: 25px;
    margin-left: 35px;
  }
  .fa-users {
    position: absolute;
    left: 0;
    display: inline-block;
    font-size: 3rem;
    cursor: pointer;
    transition: all 1s ease;
  }
  .fa-users:hover {
    transform: scale(1.09);
  }
  #chat-title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 13px 8px;
    width: 50vw;
    cursor: pointer;
    z-index: 1;
  }
  #conversation-list {
    position: relative;
    width: 100vw;
    /* background-color: #002c88; */
    filter: brightness(85%);
    /* display: none; */
    display: block;
  }
  #chat-message-list {
    position: relative;
    left: 0;
    width: 100vw;
    min-width: 100vw !important;
    /* grid-area: none; */
    grid-area: conversation-list;
    /* z-index: initial; */
    /* display: inline-flex; */
    display: none;
  }
  #new-message-container {
    position: fixed;
    grid: 40px / 40px;
    border-radius: 0px;
    width: 100vw;
    height: 70px;
    bottom: 0;
    /* display: none; */
  }
  #chat-form {
    display: none;
    position: fixed;
    /* grid: 40px / 40px; */
    width: 100vw;
    height: 70px;
    bottom: 0;
    z-index: 1;
  }
}
